<head>
  <%= stylesheet_link_tag 'edit' %> 
</head>
<%= render partial: 'content_blocks/app_navs/navbar' %>
<div class="container-fluid">
  <%= render 'form', name: 'Edit', collection: @collection %>
  <%= link_to 'Back', collection_path, data: { turbolinks: false } %>
</div>


