<head>
  <%= stylesheet_link_tag 'new' %>
</head>
<%= render partial: 'content_blocks/app_navs/navbar'   %>
<% if current_user.stripe_user_id.nil? %>
  <%= controller.redirect_to collections_path %>
<% else %>
  <div class="container-fluid">
    <%= render 'form', name: 'Create',collection: @collection %>
  </div>
<% end %>
