  <div class="row">
    <div class="col-12">
      <div class="card card-default inspectable">
        <!-- component-title: Gmaps Card -->
        <div class="card-header">
          <h6>Collections near you</h6>
        </div>
        <div id="map" style="height: 40vh; width: 100%;"></div>
        <%= javascript_pack_tag 'index_map' %>
      </div>
    </div>
  </div>
