<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.first_name %>!</h1>
    <p>Your collection has been created. Thank for using Flog it off.</p>
  </body>
</html>
