<% if current_user.present? %>
  <% controller.redirect_to collections_path %>
<% else %>
<%= content_for :js_libs, "modernizr parallax" %>

<% @title = 'Welcome' %>

<main class="landing-5">
    <%= render partial: 'home/content_blocks/headers/10' %>
  </div>
</main>

<section class="pt-5 pb-5">
  <%= render partial: 'home/content_blocks/general/16' %>
</section>


<section class="pt-5 pb-5 bg-gray-300">
  <%= render partial: 'home/content_blocks/general/18' %>
</section>

<% end %>
