You've successfully made a payment!
<%= link_to "Go to Collections", collections_path %>
<html>
  <head><title>Thanks for your order!</title></head>
  <body>
    <h1>Thanks for your order!</h1>
<% if current_user.stripe_user_id %>
  <%= link_to "Go to Stripe Dashboard", stripe_dashboard_path(current_user.id) %>
<% end %>
    <p>
      We appreciate your business!
      If you have any questions, please email
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
  </body>
</html>
