@media only screen and (min-width: 1025px) {
  .container-fluid {
    width: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  .container-fluid {
    width: 70%;
  }
}

@media only screen and (min-width: 1800px) {
  .container-fluid {
    width: 60%;
  }
}

@media only screen and (min-width: 2400px) {
  .container-fluid {
    width: 50%;
  }
}
