<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-md-auto ml-md-auto text-center">
      <img src="<%= image_path('kiso_themes/pyrrmid_200.png') %>" class="mt-3 mb-3" width="200" height="200">
      <h3>Introducing a new way for builders to trade and recycle their excess products</h3>
      <p class="lead">Reducing the amount of waste that is produced annually.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-10 ml-md-auto mr-md-auto">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Mapping Support</h5>
                <p class="small">As a collector, view collections near you. As a builder, create a collection with the simple drag of a marker.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Fast trading of surplus products</h5>
                <p class="small">Simple interactive UI built around the idea of ease of use and maximum speed for builders to create collections.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Stripe payment integration</h5>
                <p class="small">Make and track payments with integrated stripe payment support, view your dashboard and manage your funds easily.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Reducing building waste</h5>
                <p class="small">With a simple webapp, you can reduce your building site waste and clutter by recycling to people who are in need of your surplus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
