<div class="container">
  <div class="row">
    <div class="col-12">
      <blockquote class="blockquote text-center">
        <h3>Together lets reduce the 20M tonnes of yearly construction waste Australia produces.</h3>
      </blockquote>
    </div>
  </div>
</div>
